.swiper_container {
  height: 500px; /* Adjust the height to your liking */
}
.swiper-slide:not(.swiper-slide-active) {
  /* filter: grayscale(100%); */
  opacity: 1;
}

.swiper-slide:not(.swiper-slide-active) .testimonial-box {
  background-color: var(--inactive-slide-color);
}